<nav class="navbar navbar-expand-lg">
      <a class="navbar-branding" href="/"><h3>FLORESTA</h3></a>
      <ul class="navbar-nav">
         <li class="nav-item">
            <%categories.forEach(category=>{%>
               
                  <a href="/category/<%=category.slug%>" class="nav-link"><%=category.title%></a>
       
            <%})%>
         </li>    
      </ul>
</nav>      