<nav class="navbar navbar-expand-lg">
      <a class="navbar-branding" href="/"><h3>BLOG</h3></a>
      <ul class="navbar-nav">
            <li class="nav-item"><a href="/admin/categories">Categorias</a></li>
            <li class="nav-item"><a href="/admin/articles">Artigos</a></li>
      </ul>

      <ul class="navbar-nav">
            <li class="nav-item"><a href="/logout" style="color: red; margin-left: 140vh;">Logout</a></li>
      </ul>
</nav>      