body {
  background-color: #f5f7f6;
}

.navbar {
  background-color: #1f3d2b;
  padding: 20px;
}

.navbar-branding {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  border-left: 6px solid #2f6f4e;
  padding-left: 12px;
 transition: transform 0.3s ease, color 0.3s ease;
}

a {
  border: none;
  text-decoration: none;
}

.navbar-branding:hover {
  color: #5f8d4e;
  transform: translateY(-3px);
}

.navbar-branding h3 {
  font-weight: 1000;
}

.btn.btn-sucess {
  background-color: #5f8d4e;
  color: white;
}

.btn.btn-sucess:hover {
  background-color: #3a5a40;
}

h2 {
  color: #3a5a40;
}

.card {
  border-radius: 10px;
  border: none;
}

.card-body {
  margin: 10px;
}

.container {
  margin-top: 14vh;
  margin-bottom: 14vh;
}

.form-control:focus {
  border-color: #5f8d4e;
  box-shadow: 0 0 0 0.2rem rgba(95, 141, 78, 0.25);
}

.navbar-nav {
  margin-right: auto;
  margin-left: 30px;
}

.nav-item a {
  color: rgb(255, 255, 255);
  border-left: 6px solid #00832c;
  padding-left: 12px;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
  padding-right: 30px;
}

.nav-item a:hover {
  transform: translateY(-3px);
  color: #5f8d4e;
  
}
.nav-item a {
  display: inline-block;
}

