body {
  background-color: #f5f7f6;
}

.navbar{
    background-color: #1f3d2b;
    padding: 20px;
}

.navbar-branding{
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  border-left: 6px solid #2f6f4e;
  padding-left: 12px;
}

a{
    border: none;
    text-decoration: none;
}

.navbar-branding:hover{
    color: #5F8D4E;
}

.navbar-branding h3{
    font-weight: 1000;
}

.btn.btn-sucess{
    background-color: #5F8D4E;
    color: white;
}

.btn.btn-sucess:hover{
    background-color: #3A5A40;
}

h2{
    color: #3A5A40;
}


.card{
  border-radius: 10px;
  border: none;
}

.card-body{
    margin: 10px;
}

.container{
    margin-top: 14vh;
    margin-bottom: 14vh;
}

.form-control:focus {
  border-color: #5F8D4E;     
  box-shadow: 0 0 0 0.2rem rgba(95, 141, 78, 0.25);
}
